.visite-us,
.visite-us * {
  box-sizing: border-box;
}
.visite-us {
  background: #f6f1eb;
  height: 2678px;
  width: 120%;
  position: relative;
  overflow: hidden;
}
.component-46 {
  width: 1609px;
  height: 2723px;
  position: absolute;
  left: -48px;
  top: -45px;
}
.tmp-724-f-0-be-9-6-c-0-f-417-a-8-e-94-ba-63-e-5-ef-2-cde-3 {
  width: 19.95%;
  height: 7.16%;
  position: absolute;
  right: 73.77%;
  left: 6.28%;
  bottom: 92.84%;
  top: 0%;
  object-fit: cover;
}
.line-4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 79.43%;
  height: 0%;
  position: absolute;
  right: 8.76%;
  left: 11.81%;
  bottom: 86.19%;
  top: 13.81%;
}
.line-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 79.43%;
  height: 0%;
  position: absolute;
  right: 7.4%;
  left: 13.18%;
  bottom: 68.42%;
  top: 31.58%;
}
.line-6 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 79.43%;
  height: 0%;
  position: absolute;
  right: 7.4%;
  left: 13.18%;
  bottom: 50.24%;
  top: 49.76%;
}
.line-7 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 79.43%;
  height: 0%;
  position: absolute;
  right: 8.76%;
  left: 11.81%;
  bottom: 32.06%;
  top: 67.94%;
}
.line-8 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 79.43%;
  height: 0%;
  position: absolute;
  right: 8.2%;
  left: 12.37%;
  bottom: 15.75%;
  top: 84.25%;
}
.component-42 {
  width: 46.18%;
  height: 12.08%;
  position: absolute;
  right: 25.42%;
  left: 28.4%;
  bottom: 72.13%;
  top: 15.79%;
}
.div {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  right: 11.98%;
  left: 6.11%;
  width: 75.91%;
  bottom: 79.33%;
  top: 0%;
  height: 20.67%;
}
.image-4 {
  width: 70%;
  height: 40.26%;
  position: absolute;
  right: 0%;
  left: 10%;
  bottom: 0%;
  top: 33.74%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
}
.image-42 {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.component-43 {
  width: 46.18%;
  height: 12.49%;
  position: absolute;
  right: 25.42%;
  left: 28.4%;
  bottom: 53.95%;
  top: 33.57%;
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  right: 9.02%;
  left: 7.07%;
  width: 75.91%;
  bottom: 80%;
  top: 0%;
  height: 20%;
}
.image-11 {
  width: 70%;
  height: 40.26%;
  position: absolute;
  right: 0%;
  left: 10%;
  bottom: 0%;
  top: 33.74%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
}
.component-44 {
  width: 46.18%;
  height: 12.49%;
  position: absolute;
  right: 25.42%;
  left: 28.4%;
  bottom: 35.77%;
  top: 51.74%;
}
.image-12 {
  width: 70%;
  height: 40.26%;
  position: absolute;
  right: 0%;
  left: 10%;
  bottom: 0%;
  top: 33.74%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
}
.component-45 {
  width: 46.18%;
  height: 12.49%;
  position: absolute;
  right: 25.42%;
  left: 28.4%;
  bottom: 17.59%;
  top: 69.92%;
}
.div3 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  right: 11.98%;
  left: 7.11%;
  width: 75.91%;
  bottom: 80%;
  top: 0%;
  height: 20%;
}
.image-13 {
  width: 70%;
  height: 40.26%;
  position: absolute;
  right: 0%;
  left: 10%;
  bottom: 0%;
  top: 33.74%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
}
.component-26 {
  width: 100%;
  height: 15.61%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 84.39%;
}
.rectangle-19 {
  background: #013624;
  width: 97.02%;
  height: 89.4%;
  position: absolute;
  right: 0%;
  left: 2.98%;
  bottom: 0%;
  top: 10.6%;
}
.tmp-724-f-0-be-9-6-c-0-f-417-a-8-e-94-ba-63-e-5-ef-2-cde-5 {
  width: 32.38%;
  height: 84.81%;
  position: absolute;
  right: 3.48%;
  left: 64.14%;
  bottom: 15.19%;
  top: 0%;
  object-fit: cover;
}
.line-1-stroke {
  width: 44%;
  height: 0.71%;
  position: absolute;
  right: 56%;
  left: -8%;
  bottom: 21.91%;
  top: 77.39%;
  transform: translate(48px, 0px);
  overflow: visible;
}
.line-2-stroke {
  width: 40.96%;
  height: 0.71%;
  position: absolute;
  right: 0%;
  left: 60.04%;
  bottom: 21.91%;
  top: 77.39%;
  transform: translate(0px, 0px);
  overflow: visible;
}
.div4 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 41.02%;
  left:42%;
  width: 14.98%;
  bottom: 20.14%;
  top: 75.62%;
  height: 4.24%;
}
.div5 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 50.34%;
  left: 34.68%;
  width: 14.98%;
  bottom: 9.89%;
  top: 85.87%;
  height: 4.24%;
}
.div6 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 32.26%;
  left: 52.77%;
  width: 14.98%;
  bottom: 9.89%;
  top: 85.87%;
  height: 4.24%;
}
.xxxxxxxxx-gmail-com {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 70.42%;
  left: 14.61%;
  width: 14.98%;
  bottom: 9.89%;
  top: 85.87%;
  height: 4.24%;
}
._218-9-xxxxxxx {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 12.18%;
  left: 72.84%;
  width: 14.98%;
  bottom: 9.89%;
  top: 85.87%;
  height: 4.24%;
}
.component-24 {
  width: 46.61%;
  height: 34.81%;
  position: absolute;
  right: 43.44%;
  left: 9.94%;
  bottom: 40.28%;
  top: 24.91%;
}
.div7 {
  color: rgba(220, 168, 24, 0.58);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 500;
  position: absolute;
  right: 63.33%;
  left: 4.53%;
  width: 32.13%;
  bottom: 85.28%;
  top: 1.54%;
  height: 12.18%;
}
.div8 {
  color: rgba(220, 168, 24, 0.58);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 500;
  position: absolute;
  right: 9.6%;
  left: 58.27%;
  width: 32.13%;
  bottom: 60.82%;
  top: 0%;
  height: 12.18%;
}
.div9 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 63.73%;
  left: 4.13%;
  width: 32.13%;
  bottom: 0%;
  top: 87.82%;
  height: 12.18%;
}
._21 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 63.73%;
  left: 4.13%;
  width: 32.13%;
  bottom: 20.81%;
  top: 67.01%;
  height: 12.18%;
}
.div10 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 63.73%;
  left: 4.13%;
  width: 32.13%;
  bottom: 41.62%;
  top: 46.19%;
  height: 12.18%;
}
.aljraba-tripoli {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 9.87%;
  left: 58%;
  width: 32.13%;
  bottom: 41.62%;
  top: 46.19%;
  height: 12.18%;
}
.alnofleen-tripoli {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 9.6%;
  left: 58.27%;
  width: 32.13%;
  bottom: 20.81%;
  top: 67.01%;
  height: 12.18%;
}
.alnofleen-tripoli2 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 9.87%;
  left: 58%;
  width: 32.13%;
  bottom: 0%;
  top: 87.82%;
  height: 12.18%;
}

.component-262 {
  width: 29.52%;
  height: 4.88%;
  position: absolute;
  right: 32.38%;
  left: 38.1%;
  bottom: 93.46%;
  top: 1.65%;
}
.rectangle-26 {
  background: #4e8071;
  border-radius: 0px 0px 30px 30px;
  width: 70%;
  height: 60%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.back-to-home-page {
  color: #d9d9d9;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 300;
  position: absolute;
  right: 9.05%;
  left:-4%;
  width: 81.89%;
  bottom: 43.61%;
  top: 13%;
  height: 17.29%;
}