.categores,
.categores * {
  box-sizing: border-box;
}
.categores {
  background: #f6f1eb;
  height: 5206px;
  position: relative;
  overflow: hidden;
}
.frame-2 {
  width: 1690px;
  height: 5251px;
  position: absolute;
  left: 0px;
  top: -45px;
}
.tmp-724-f-0-be-9-6-c-0-f-417-a-8-e-94-ba-63-e-5-ef-2-cde-3 {
  width: 321px;
  height: 195px;
  position: absolute;
  left: 101px;
  top: 0px;
  object-fit: cover;
}
.component-35 {
  width: 1642px;
  height: 706.72px;
  position: absolute;
  left: 48px;
  top: 264.28px;
}
.rectangle-27 {
  background: rgba(201, 178, 178, 0.11);
  width: 95.07%;
  height: 96.22%;
  position: absolute;
  right: 4.93%;
  left: 0%;
  bottom: 3.78%;
  top: 0%;
}
.div {
  color: #264d42;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 35px;
  line-height: 120%;
  font-weight: 800;
  position: absolute;
  right: 40.62%;
  left: 35.69%;
  width: 23.69%;
  bottom: 88.66%;
  top: 7.6%;
  height: 3.74%;
}
.div2 {
  color: #264d42;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 800;
  position: absolute;
  right: 40.62%;
  left: 35.69%;
  width: 23.69%;

  bottom: 0%;
  top: 85.99%;
  height: 14.01%;
}
.rectangle-28 {
  border-radius: 15px;
  width: 37.27%;
  height: 57.45%;
  position: absolute;
  right: 56.09%;
  left: 6.64%;
  bottom: 21.33%;
  top: 21.22%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.rectangle-29 {
  border-radius: 15px;
  width: 37.27%;
  height: 57.45%;
  position: absolute;
  right: 12.12%;
  left: 50.61%;
  bottom: 21.33%;
  top: 21.22%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.component-36 {
  width: 1642px;
  height: 680px;
  position: absolute;
  left: 48px;
  top: 1068px;
}
.rectangle-45 {
  background: rgba(201, 178, 178, 0.11);
  width: 95.07%;
  height: 100%;
  position: absolute;
  right: 4.93%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.div3 {
  color: #264d42;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 800;
  position: absolute;
  right: 40.62%;
  left: 35.69%;
  width: 23.69%;
  bottom: 8.61%;
  top: 87.5%;
  height: 3.89%;
}
.div4 {
  color: #264d42;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 35px;
  line-height: 120%;
  font-weight: 800;
  position: absolute;
  right: 40.62%;
  left: 35.69%;
  width: 23.69%;
  bottom: 92.88%;
  top: 3.24%;
  height: 3.89%;
}
.rectangle-33 {
  border-radius: 15px;
  width: 37.27%;
  height: 59.71%;
  position: absolute;
  right: 55.79%;
  left: 6.94%;
  bottom: 20.15%;
  top: 20.15%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.rectangle-34 {
  border-radius: 15px;
  width: 37.27%;
  height: 59.71%;
  position: absolute;
  right: 11.81%;
  left: 50.91%;
  bottom: 20.15%;
  top: 20.15%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.component-38 {
  width: 1642px;
  height: 680px;
  position: absolute;
  left: 48px;
  top: 2564px;
}
.component-37 {
  width: 1642px;
  height: 680px;
  position: absolute;
  left: 48px;
  top: 1815px;
}
.footer {
  width: 1609px;
  height: 425px;
  position: absolute;
  left: 0px;
  top: 4826px;
}
.rectangle-19 {
  background: #013624;
  width: 100%;
  height: 89.4%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 10.6%;
}
.tmp-724-f-0-be-9-6-c-0-f-417-a-8-e-94-ba-63-e-5-ef-2-cde-5 {
  width: 32.38%;
  height: 84.81%;
  position: absolute;
  right: 3.48%;
  left: 64.14%;
  bottom: 15.19%;
  top: 0%;
  object-fit: cover;
}
.line-1-stroke {
  width: 44%;
  height: 0.71%;
  position: absolute;
  right: 56%;
  left: -8%;
  bottom: 21.91%;
  top: 77.39%;
  transform: translate(48px, 0px);
  overflow: visible;
}
.line-2-stroke {
  width: 40.96%;
  height: 0.71%;
  position: absolute;
  right: 0%;
  left: 60.04%;
  bottom: 21.91%;
  top: 77.39%;
  transform: translate(0px, 0px);
  overflow: visible;
}
.div5 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 41.02%;
  left: 44%;
  width: 14.98%;
  bottom: 20.14%;
  top: 75.62%;
  height: 4.24%;
}
.div6 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 50.34%;
  left: 34.68%;
  width: 14.98%;
  bottom: 9.89%;
  top: 85.87%;
  height: 4.24%;
}
.div7 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 32.26%;
  left: 52.77%;
  width: 14.98%;
  bottom: 9.89%;
  top: 85.87%;
  height: 4.24%;
}
.xxxxxxxxx-gmail-com {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 70.42%;
  left: 14.61%;
  width: 14.98%;
  bottom: 9.89%;
  top: 85.87%;
  height: 4.24%;
}
._218-9-xxxxxxx {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 12.18%;
  left: 72.84%;
  width: 14.98%;
  bottom: 9.89%;
  top: 85.87%;
  height: 4.24%;
}
.component-24 {
  width: 46.61%;
  height: 34.81%;
  position: absolute;
  right: 43.44%;
  left: 9.94%;
  bottom: 40.28%;
  top: 24.91%;
}
.div8 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 500;
  position: absolute;
  right: 63.33%;
  left: 4.53%;
  width: 32.13%;
  bottom: 85.28%;
  top: 2.54%;
  height: 12.18%;
}
.div9 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 30px;
  line-height: 120%;
  font-weight: 500;
  position: absolute;
  right: 9.6%;
  left: 58.27%;
  width: 32.13%;
  bottom: 87.82%;
  top: 0%;
  height: 12.18%;
}
.div10 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 63.73%;
  left: 4.13%;
  width: 32.13%;
  bottom: 0%;
  top: 87.82%;
  height: 12.18%;
}
._21 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 63.73%;
  left: 4.13%;
  width: 32.13%;
  bottom: 20.81%;
  top: 67.01%;
  height: 12.18%;
}
.div11 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 63.73%;
  left: 4.13%;
  width: 32.13%;
  bottom: 41.62%;
  top: 46.19%;
  height: 12.18%;
}
.aljraba-tripoli {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 9.87%;
  left: 58%;
  width: 32.13%;
  bottom: 41.62%;
  top: 46.19%;
  height: 12.18%;
}
.alnofleen-tripoli {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 9.6%;
  left: 58.27%;
  width: 32.13%;
  bottom: 20.81%;
  top: 67.01%;
  height: 12.18%;
}
.alnofleen-tripoli2 {
  color: rgba(255, 255, 255, 0.58);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 9.87%;
  left: 58%;
  width: 32.13%;
  bottom: 0%;
  top: 87.82%;
  height: 12.18%;
}
.line-3 {
  width: 99.98%;
  height: 6.14%;
  position: absolute;
  right: -99.98%;
  left: 100%;
  bottom: 81.93%;
  top: 11.93%;
  transform: translate(-750.03px, -1px);
  overflow: visible;
}
.component-23 {
  width: 475px;
  height: 133px;
  position: absolute;
  left: 591px;
  top: 45px;
}
.rectangle-26 {
  background: #4e8071;
  border-radius: 0px 0px 30px 30px;
  width: 70%;
  height: 60%;
  position: absolute;
  right: 0%;
  left: 20%;
  bottom: 0%;
  top: 0%;
}
.back-to-home-page {
  color: #d9d9d9;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 300;
  position: absolute;
  right: 9.05%;
  left: 15.05%;
  width: 81.89%;
  bottom: 43.61%;
  top: 13%;
  height: 17.29%;
  border-radius: 0px 0px 30px 30px;
  color: #4e8071;
}
.component-32 {
  width: 1023px;
  height: 510px;
  position: absolute;
  left: 326px;
  top: 4192px;
}
.rectangle-40 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 40%;
}
.rectangle-402 {
  border-radius: 40px;
  width: 60%;
  height: 30%;
  position: absolute;
  right: 40.62%;
  left: 20.69%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.div12 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 200%;
  font-weight: 300;
  position: absolute;
  right: 40.62%;
  left: 33.69%;
  width: 33.14%;
  bottom: 32.55%;
  top: 50%;
  height: 25.1%;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.frame-22 {
  width: 1642px;
  height: 680px;
  position: absolute;
  left: 0px;
  top: 3313px;
}
.component-362 {
  width: 1642px;
  height: 680px;
  position: absolute;
  left: 55px;
  top: 0px;
}
